body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.i1 {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#2ba681, #562ab5, #6de815);
    color: white;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.divinner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.link {
    display: inline;
    padding: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.link:hover {
    background-color: brown;
}

#founder{
    font-family: 'Cinzel Decorative', cursive;    
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

html{
    scroll-behavior: smooth;
}

.link a{
    color: black;
}




